

/* Dashboard.css */

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4; /* Fondo claro */
    margin-left: 0px;
    float: right;
    width: 100%;
  }
  
  .dashboard > div {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  h3 {
    font-size: 1.5em;
    color: #333; /* Títulos oscuros */
  }
  
  p, li {
    font-size: 1.2em;
    color: #666; /* Texto más claro */
  }
  
  /* Estilo específico para los gráficos */
  .gauge {
    margin: 10px 0;
  }

  
  