/* Ajustes generales de las tarjetas */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste para columnas más pequeñas */
  gap: 20px;
  padding: 20px;
  background-color: #f4f9fc;
  margin-left: 250px;
  width: calc(100% - 250px);
  border-radius: 15px;
}

/* Ajustes específicos para las tarjetas de Weight y Height */
.Weight,
.Height {
  grid-column: span 1; /* Ocupan menos espacio */
  min-width: 200px; /* Tamaño mínimo reducido */
  max-width: 250px; /* Limitar el tamaño máximo */
}

/* Otras tarjetas */
.Water {
  grid-column: span 2; /* Ocupa más espacio horizontal */
}

.CorporalComposition,
.BodyFatPercentaje,
.Steps,
.ExcercisesList {
  grid-column: span 2; /* Mantener un tamaño consistente */
}

/* Hover y diseño consistente */
.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

svg{
  justify-content: center !important;
}

.css-b9rdri-MuiGauge-referenceArc {
  fill: #67a0ae !important;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.percentage {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

